    <footer>

      <!-- #contact -->
      <div id="contact" class="container">
        <div class="page-header text-center">
          <h4 class="text-uppercase font-bold">Contact</h4>
        </div>
        <div class="panel panel-default no-background no-border no-shadow">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <h4 class="text-center text-uppercase font-bold">Hi, there!</h4>
                <div class="row">
                  <div class="col-md-3 text-center">
                    <img class="img-responsive img-circle img-thumbnail" src="{{ site.baseurl }}/assets/img/avatar-footer.png" width="96" height="96">
                  </div>
                  <div class="col-md-9">
                    <p class="text-md-center">I'm <span class="font-bold">Achilles Rasquinha</span>.</p>
                    <p class="text-justify">
                      I'm currently pursuing my Bachelor's in Computer Engineering from the University of Mumbai and expecting to graduate in May 2017.
                    </p>
                    <p class="text-justify">
                      Please feel free to contact me. Coffee's on me!
                    </p>
                    <ul class="list-unstyled">
                      <li><i class="fa fa-map-marker fa-fw"></i> Mumbai, India</li>
                      <li><i class="fa fa-phone      fa-fw"></i> <a href="tel:+91 9821410251">+91 9821410251</a></li>
                      <li><i class="fa fa-envelope   fa-fw"></i> <a href="mailto:achillesrasquinha@gmail.com" target="_top">achillesrasquinha@gmail.com</a></li>
                    </ul>
                  </div>
                </div>
              </div><!-- end .col-md-6 -->
              <div class="col-md-6">
                <h4 class="text-center text-uppercase font-bold">Let's talk</h4>
                <form action="https://formspree.io/{{ site.email }}" method="POST">
                  <div class="form-group">
                    <label class="text-uppercase">Name</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                      <input class="form-control" name="name" placeholder="What do they call you?" required autocomplete="name" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="text-uppercase">Email</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                      <input class="form-control" name="email" placeholder="e.g. abc@xyz.com" required autocomplete="email" type="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="text-uppercase">Message</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
                      <textarea class="form-control" name="message" rows="5" placeholder="How can I help you?" required></textarea>
                    </div>
                  </div>
                  <input class="btn btn-block btn-brand" value="Send" type="submit">
                  <input type="hidden" name="_next" value="{{ site.baseurl }}/thank-you.html">
                  <input type="hidden" name="_subject" value="Website Contact">
                  <input type="text" name="_gotcha" style="display:none">
                </form>
              </div>
            </div><!-- end .row -->
          </div><!-- end .panel-body -->
        </div><!-- end .panel -->

        <!-- social -->

        <h4 class="hidden-lg text-center text-uppercase font-bold">Let's connect</h4>
        <div class="social social-inverse">
          <ul>
            <li class="facebook"><a href="{{ site.social.facebook }}" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li class="google-plus"><a href="{{ site.social.googleplus }}" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a></li>
            <li class="instagram"><a href="{{ site.social.instagram }}" target="_blank"><i class="fa fa-instagram fa-fw"></i></a></li>
            <li class="linkedin"><a href="{{ site.social.linkedin }}" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
            <li class="github"><a href="{{ site.social.github }}" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
          </ul>
        </div>
      </div><!-- end #contact -->

      <!-- copyright -->
      <div class="container-fluid no-padding">
        <div class="copyright">
          <div>
            &copy; {{ site.time | date: '%Y' }} {{ site.title }}
          </div>
          <div>
            Built with <a href="https://jekyllrb.com" target="_blank">Jekyll</a> and <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>
          </div>
        </div>
      </div>
      <!-- end copyright -->

    </footer>

    <!-- scripts -->
    {% include scripts.html %}
    <!-- end scripts -->

  </body>
</html>