{% if post %}
  {% assign type = post %}
{% else %}
  {% assign type = page %}
{% endif %}
<div class="panel panel-default no-border no-shadow">
  <div class="panel-heading no-background no-border">
      {% if type == post %}
      <div class="post-title">
        <a href="{{ type.url }}">
          <h3 class="no-margin">{{ type.title }}</h3>
        </a>
      </div>
      {% else %}
        <h3 class="no-margin">{{ type.title }}</h3>
      {% endif %}
    <h4><small>{{ type.date | date: '%B %d, %Y' }}</small></h4>
  </div>
  <div class="panel-body">
    <div class="text-justify">
      {{ type.content }}
    </div>
    {% for tag in type.tags %}
      <a href="{{ site.baseurl }}/blog/labels/{{ tag }}">
        <span class="label random-dark"><i class="fa fa-fw fa-tag"></i> {{ tag }}</span>
      </a>
    {% endfor %}
  </div>

  <div class="panel-footer no-background">
    <div class="text-right">
      <a class="btn btn-sm btn-social-icon btn-twitter" href="http://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ type.url }}">
        <i class="fa fa-twitter fa-fw"></i>
      </a>
      <button class="btn btn-sm btn-social-icon btn-facebook">
        <i class="fa fa-facebook fa-fw"></i>
      </button>
      <button class="btn btn-sm btn-social-icon btn-google">
        <i class="fa fa-google-plus fa-fw"></i>
      </button>
    </div>
  </div>
</div>