body {
    // position
    margin-top                              : $body-margin-top;

    // typography
    font-family                             : $body-font-family;
}

footer {
    background-color                        : $footer-background-color;
    color                                   : $footer-color;
    background-image                        : url(/assets/img/texture-noise-200x200.png);
}

a {
    color                                   : $anchor-color;
    text-decoration                         : none;
    -webkit-transition                      : color .35s;
       -moz-transition                      : color .35s;
            transition                      : color .35s;

    &:hover,
    &:focus {
        color                               : $anchor-color-hover;
        text-decoration                     : none;
    }
}

.copyright {
    // position
    padding                                 : $copyright-padding-y $copyright-padding-x;
    // typography
    font-size                               : $copyright-font-size;
    letter-spacing                          : $copyright-letter-spacing;
    text-align                              : center;
    // visual
    background-color                        : $copyright-background-color;
}