---
layout : page
title  : About
imgurl : /assets/img/avatar-about.png
---
{% for section in site.data.profile %}
<div class="panel panel-default no-border no-shadow">
  {% case section.name %}
    {% when 'experience' %}
      {% assign icon = 'suitcase' %}
    {% when 'education' %}
      {% assign icon = 'mortar-board' %}
  {% endcase %}
  <div class="panel-heading no-background">
    <div class="panel-title text-uppercase font-bold color-primary">
      {% if icon %}<i class="fa fa-fw fa-{{ icon }}"></i> {% endif %}{{ section.name | capitalize }}
    </div>
  </div>
  <div class="panel-body no-padding">
    {% case section.name %}
      {% when 'experience' %}
        {% for position in section.position %}
          <div class="panel panel-default no-border no-shadow no-margin">
            <div class="panel-body">
              {% if position.logo %}
              <div class="row">
                <div class="col-xs-9">
              {% endif %}
                <p class="font-bold">{{ position.company }}</p>
                <p class="text-muted"><i class="fa fa-hand-o-right fa-fw"></i> {{ position.title }}</p>
                {% assign begin = position.period.begin | date: '%B %Y' %}
                {% if position.period.end %}
                  {% assign end = position.period.end   | date: '%B %Y' %}
                {% endif %}
                <p class="text-muted"><i class="fa fa-calendar fa-fw"></i> {{ begin }} - {{ end }}</p>
                {% if position.location %}
                <p class="text-muted"><i class="fa fa-map-marker fa-fw"></i> {{ position.location }}</p>
                {% endif %}
              {% if position.logo %}
                </div>
                <div class="col-xs-3">
                  <div class="text-right">
                    <img class="img-thumbnail" src="{{ site.baseurl }}/assets/img/{{ position.logo }}" width="64">
                  </div>
                </div>
              </div>
              {% endif %}
              {% if position.description %}
              <p class="text-justify">
                {{ position.description }}
              </p>
              {% endif %}
            </div>
          </div>
          {% unless forloop.last %}
            <hr class="no-margin">
          {% endunless %}
        {% endfor %}
      {% when 'education' %}
        {% for education in section.education %}
          <div class="panel-panel-default no-border no-shadow no-margin">
            <div class="panel-body">
              {% if education.logo %}
              <div class="row">
                <div class="col-xs-9">
              {% endif %}
              <p class="font-bold">{{ education.school }}</p>
              {% if education.degree %}
                <p class="text-muted">
                  {{ education.degree }}{% if education.field %}, {{ education.field }}{% endif %}
                </p>
              {% endif %}
              
              {% if education.period %}
              <p class="text-muted">
                <i class="fa fa-fw fa-calendar"></i> {{ education.period.begin }} - {{ education.period.end }}
              </p>
              {% endif %}

              {% if education.grade %}
                <p class="text-muted">
                  <i class="fa fa-fw fa-check"></i> {{ education.grade }}
                </p>
              {% endif %}

              {% if education.logo %}
                </div>
                <div class="col-xs-3">
                  <div class="text-right">
                    <img class="img-thumbnail" src="{{ site.baseurl }}/assets/img/{{ education.logo }}" width="64">
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          {% unless forloop.last %}
            <hr class="no-margin">
          {% endunless %}
        {% endfor %}
    {% endcase %}
  </div>
</div>
{% endfor %}