---
layout : page
title  : About
imgurl : /assets/img/avatar-about.png
---
<p class="text-md-center">
  Hi, I'm <span class="font-bold">Achilles Rasquinha</span>.
</p>

{% for section in site.data.profile %}
<div class="panel panel-default">
  {% case section.name %}
    {% when 'experience' %}
      {% assign icon = 'suitcase' %}
    {% when 'education' %}
      {% assign icon = 'mortar-board' %}
  {% endcase %}
  <div class="panel-heading no-background">
    <div class="panel-title text-uppercase font-bold color-primary">
      {% if icon %}<i class="fa fa-fw fa-{{ icon }}"></i> {% endif %}{{ section.name | capitalize }}
    </div>
  </div>
  {% case section.name %}
    {% when 'experience' %}
      <ul class="list-group">
        {% for position in section.position %}
          <li class="list-group-item">
            {% if position.logo %}
            <div class="row">
              <div class="col-xs-9">
            {% endif %}
              <p class="font-bold">{{ position.company }}</p>
              <p class="text-muted"><i class="fa fa-hand-o-right fa-fw"></i> {{ position.title }}</p>
              {% assign begin = position.period.begin | date: '%B %Y' %}
              {% if position.period.end %}
                {% assign end = position.period.end   | date: '%B %Y' %}
              {% endif %}
              <p class="text-muted"><i class="fa fa-calendar fa-fw"></i> {{ begin }} - {{ end }}</p>
              {% if position.location %}
              <p class="text-muted"><i class="fa fa-map-marker fa-fw"></i> {{ position.location }}</p>
              {% endif %}
            {% if position.logo %}
              </div>
              <div class="col-xs-3">
                <div class="text-right">
                  <img class="img-thumbnail" src="{{ site.baseurl }}/assets/img/{{ position.logo }}" width="64">
                </div>
              </div>
            </div>
            {% endif %}
            {% if position.description %}
            <div class="text-justify">
              {{ position.description }}
            </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% when 'education' %}
      <ul class="list-group">
        {% for education in section.education %}
          <li class="list-group-item">
            {% if education.logo %}
            <div class="row">
              <div class="col-xs-9">
            {% endif %}
            <p class="font-bold">{{ education.school }}</p>
            {% if education.degree %}
              <p class="text-muted">
                {{ education.degree }}{% if education.field %}, {{ education.field }}{% endif %}
              </p>
            {% endif %}
            
            {% if education.period %}
            <p class="text-muted">
              <i class="fa fa-fw fa-calendar"></i> {{ education.period.begin }} - {{ education.period.end }}
            </p>
            {% endif %}

            {% if education.grade %}
              <p class="text-muted">
                <i class="fa fa-fw fa-check"></i> {{ education.grade }}
              </p>
            {% endif %}

            {% if education.logo %}
              </div>
              <div class="col-xs-3">
                <div class="text-right">
                  <img class="img-thumbnail" src="{{ site.baseurl }}/assets/img/{{ education.logo }}" width="64">
                </div>
              </div>
            </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% when 'skills' %}
      <ul class="skills list-group">
        {% assign skills = section.skills | sort: 'value' | reverse %}
        {% for skill in skills %}
          <li class="list-group-item">
            <div class="progress no-margin no-shadow">
              <div class="progress-bar no-shadow random-dark" aria-valuemin="0" aria-valuemax="100" ariavaluenow="{{ skill.value }}" style="width: {{ skill.value }}%;">
                {{ skill.name }}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="panel-footer">
        <div class="text-right">
          <small>Appealing colors generated using <a href="https://randomcolor.llllll.li" target="_blank">randomColor.js</a></small> 
        </div>
      </div>
  {% endcase %}
</div>
{% endfor %}