---
layout : blog
imgurl : /assets/img/avatar-blog.png
---
{% for post in paginator.posts %}

  {% include post.html %}

{% endfor %}

{% assign size = site.posts | size %}
{% if size > site.paginate %}

  <div class="panel panel-default no-border no-shadow">
    <div class="panel-body text-right text-md-center">
      <div class="btn-group">
      
        <a href="{{ site.baseurl }}/blog" class="btn btn-lg btn-default no-border">
          <i class="fa fa-home fa-fw"></i>
        </a>

        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="btn btn-lg btn-default no-border">
            <i class="fa fa-arrow-left fa-fw"></i>
          </a>
        {% else %}
          <button class="btn btn-lg btn-default no-border" disabled="disabled">
            <i class="fa fa-arrow-left fa-fw"></i>
          </button>
        {% endif %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="btn btn-lg btn-default no-border">
            <i class="fa fa-arrow-right fa-fw"></i>
          </a>
        {% else %}
          <button class="btn btn-lg btn-default no-border" disabled="disabled">
            <i class="fa fa-arrow-right fa-fw"></i>
          </button>
        {% endif %}

      </div>
    </div>
  </div>

{% endif %}
