.post-title {
    > a {
        color: $color-text;
        -webkit-transition                      : color .35s;
          -moz-transition                      : color .35s;
            transition                      : color .35s;

        &:hover,
        &:focus {
            color                               : $anchor-color-hover;
            text-decoration                     : none;
        }
    }
}