---
layout: blog
---
{% include post.html %}
  <div class="text-center">
    <div class="btn-group">

      {% if page.previous.url %}
        <a href="{{ page.previous.url }}" class="btn btn-lg btn-default no-border">
          <i class="fa fa-arrow-left fa-fw"></i>
        </a>
      {% else %}
        <button class="btn btn-lg btn-default no-border" disabled="disabled">
          <i class="fa fa-arrow-left fa-fw"></i>
        </button>
      {% endif %}

      {% if page.next.url %}
        <a href="{{ page.next.url }}" class="btn btn-lg btn-default no-border">
          <i class="fa fa-arrow-right fa-fw"></i>
        </a>
      {% else %}
        <button class="btn btn-lg btn-default no-border" disabled="disabled">
          <i class="fa fa-arrow-right fa-fw"></i>
        </button>
      {% endif %}

    </div>
  </div>
{% include comments.html %}